* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body {
    background-color: #210002;
    background-image: url("image/parralax/parallax0.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    max-height: 250vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
table {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
    width: 100vw;
    max-height: 2vw;
    min-height: 32px;
    z-index: 10000;
    /*...........................*/
    tr {
        padding: -1%;
        font-size: 30px;
        /*...........................*/
        th {
        padding: 1%;
        width: 90%;
        text-align: left;
        background-color: #ff9012;
        a {
         color: #ffffff;
         text-decoration: none;
            }
        a:hover {
            text-decoration: underline;
            text-decoration-color: #ffffff;
            }
        img {
            max-height: 2vw;
            min-height: 30px;
            }
        }
        /*...........................*/
        td {
            padding: 1%;
            width: 10%;
            text-align: right;
            background-color: #ff5d12;
            color: #ffffff;
           }
        .Menu {
            display: inline-block;
            position: relative;
        }
        .stranky {
            right: 100%;
            top: 0%;
            text-align: center;
            background-color: #db4500;
            box-shadow: 0 4px 10px #00000080;
            border-radius: 10px;
            overflow: hidden;
            height: 0;
            display: block;
            position: absolute;
            margin-right: 10px;
            visibility: hidden;
            transition: height 0.3s ease;
        }
        .Menu:hover .stranky {
            height: auto;
            visibility: visible;
            }
        .stranky a {
            height: auto;
            font-size: 25px;
            color: #ffffff;
            text-decoration: none;
            margin: 10px;
            }
        .stranky a:hover {
            text-decoration: underline;
            text-decoration-color: #ffffff;
            }
        
        img {
            width: auto;
            height: 2vw;
            min-height: 30px;
            transition: opacity 0.3s ease, height 0.5s ease-in-out, width 0.5s ease-in-out;
            text-align: center;
            }
        .Menu:hover img {
            opacity: 0;
            height: 0px;
            width: 0px;
        }
    }
}
/*---------------------------*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
section img {
    position: absolute;
    transform: translateX(-50%);
    left: 50vw;
    height: auto;
    overflow: hidden;
    display: block;
}
/*---------------------------*/
.gallery {
    display: flex;
    background-color: #210002;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1038px;
    width: 100vw;
    height: 200vh;
    object-position: center 1038px;
}
.gallery img {
    margin-top: 50px;
    height: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    width: 50%;
}
.gallery img#leftArrow {
    object-position: -25%;
    height: 200px;
    width: auto;
}
.gallery img#rightArrow {
    object-position: 25%;
    height: 200px;
    width: auto;
}
.gallery img#foto {
    position: absolute;
    left: 29%;
    margin-top: -4%;
    width: 35%;
    height: auto;
}
h3 {
    font-size: 5vw;
    color: #ffffff;
    position: absolute;
    margin-top: 40%;
}